doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    // STYLESHEET
    link(rel='stylesheet', href='/stylesheets/style.css')
    // JQUERY
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js' type="text/javascript")
    block links
    title Stock Market Data Sonification!
  body
    header
      h1 Stock Market Data Sonification
      p By Japneet Kaur
    br
    br
    #mainArea
      h3  This app converts stock data to sound!
      hr
      block content
