doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Stock Market Data Sonification!
  body
    header
      h1 CSCI N341 Course Page
      p By Japneet Kaur
    #mainArea
      h3  This app converts stock data to sound!
      hr
      block content
