extends layout

block links
    script(src="/javascripts/search.js")
block content
    h3 Search a Stock Symbol
    form#searchForm
        input#searchKeywords(type='text' placeholder='Search..' name='searchKeywords' autocomplete='false')
        button#searchButton(type='submit') Search
            i.fa.fa-search
    br
    br
    div#messageArea
        h2#message
    table#searchResults
        tr#headings
            th Symbol
            th Name
            th Region





