extends layout

block links
    script(src="/javascripts/stock.js")
    // ANYCHART LIBRARY  to plot the stock prices
    script(src='https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js' type='text/javascript')
    script(src='https://cdn.anychart.com/releases/8.11.0/js/anychart-stock.min.js' type='text/javascript')
    script(src='https://cdn.anychart.com/releases/8.11.0/js/anychart-data-adapter.min.js')
    script(src='https://cdn.anychart.com/releases/8.11.0/js/anychart-ui.min.js')
    script(src='https://cdn.anychart.com/releases/8.11.0/js/anychart-exports.min.js')
    link(href='https://cdn.anychart.com/releases/8.11.0/css/anychart-ui.min.css' type='text/css' rel='stylesheet')
    link(href='https://cdn.anychart.com/releases/8.11.0/fonts/css/anychart-font.min.css' type='text/css' rel='stylesheet')

block content
    h4#stockSymbol #{symbol}

    form(id="stockOptions" action="/" method="get")
        label(for='timeSeries') Select the type of interval of Time Series:
        select#timeSeries(name='timeSeries')
            option(value='TIME_SERIES_DAILY') Daily Stock Prices
            option(value='TIME_SERIES_WEEKLY') Weekly Stock Price
            option(value='TIME_SERIES_MONTHLY') Monthly Stock Price
        br
        br
        label(for='priceType')
        select#priceType(name='priceType')
            option(value='1. open') Open Price
            option(value='2. high') High Price
            option(value='3. low') Low Price
            option(value='4. close') Close Price
        br
        br
        button(type="submit") Go!

    br
    br
    div#chartContainer
